@import "tailwindcss";

@theme {
    --color-background: #0f0f0f;
    --color-surface: #1a1a1a;
    --color-border: #2a2a2a;
    --font-sans: 'Inter', Arial, sans-serif;
    --font-display: 'Sora', Arial, sans-serif;
}